<div class="container">
  <div class="search-div">
    
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()" >
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-table   [dataSource]="dataSource"  matSort>
      <ng-container matColumnDef="id" >
        <mat-header-cell *matHeaderCellDef  mat-sort-header>ID</mat-header-cell>
        <mat-cell  *matCellDef="let element">{{element.id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="acceptedDate">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Donated Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.acceptedDate}}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="receiverName">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>receiverName</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.request.user.fullName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="receiverContact">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>R. Mobile</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.request.mobile}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="bloodUnit">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Blood Unit</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.request.bloodUnit}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="hospitalName">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Hospital Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.request.hospitalName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="district">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>District</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.request.district}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="municipality">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Municipality</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.request.municipality}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="localAddress">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>LocalAddress</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.request.localAddress}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="requestDate">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Request Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.request.requestDate}}</mat-cell>
      </ng-container>
      
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          
          <button mat-icon-button color="primary" (click)="onView(row)"><mat-icon>visibility</mat-icon></button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!==null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!==null && dataSource===0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
  


</div>

