<div class="content-wrapper" *ngIf="isLoggedIn">
  <div class="container-fluid">
    <div class="row" *ngIf="adminBoard">

    <!-- Icon Cards-->
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                  <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                  <h4>Users</h4>
                  <h2>{{user}}</h2>
              </div>
            </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
                  <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                  <h4>Requests</h4>
                  <h2>{{request}}</h2>
              </div>
            </div>
          </div>
      </div>

      
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
        <div class="inforide">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
                <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>Feeds</h4>
                <h2>{{feed}}</h2>
            </div>
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
      <div class="inforide">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
              <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
          </div>
          <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
              <h4>Donations</h4>
              <h2>{{donation}}</h2>
          </div>
        </div>
      </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
    <div class="inforide">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
            <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
            <h4>Pending Requests</h4>
            <h2>{{pendingDonation}}</h2>
        </div>
      </div>
    </div>
</div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
    <div class="inforide">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
            <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
            <h4>MyAccepted Request</h4>
            <h2>{{myCompleteDonation}}</h2>
        </div>
      </div>
    </div>
</div>

  </div>


</div>
