<mat-toolbar>
    <span>Feed Details</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <form [formGroup]="feedService.form" class="normal-form">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="id">
          <mat-form-field>
            <input formControlName="feedTitle" matInput placeholder="Feed Title*" readonly>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea formControlName="feedDescription" matInput placeholder="Feed Description*" rows="7" readonly></textarea>
            <mat-error>This field is mandatary</mat-error>
          </mat-form-field>
          
  
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field formGroupName="user">
            <input formControlName="fullName" matInput placeholder="Posted By*" rows="7" readonly>
            <mat-error>This field is mandatary</mat-error>
          </mat-form-field>
          <mat-form-field formGroupName="user">
            <input formControlName="mobile" matInput placeholder="Mobile*" rows="7" readonly>
            <mat-error>This field is mandatary</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="postDate" matInput placeholder="Post Date*" rows="7" readonly>
            <mat-error>This field is mandatary</mat-error>
          </mat-form-field>

        </div>
        

      </mat-grid-tile>
    </mat-grid-list>
  </form>
  
